#wrap{
    width:300px;
    margin:0 auto;
    text-align:center;
    }
#body{
    background-color:#fff;
    min-height:300px;
    padding:0 0 20px 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
#body>div{
    margin:25px 0;
}
/*#login_tip{
    margin-top: 20px;
    color: #888;
}*/

em{
    font-weight:bold;
}
#option_logo{
    padding-top:40px;
}


#account_info{
    width:300px;
    margin:0 auto;
}
.account-list li{
    line-height:2em;
}
.account-list .attr{
    font-weight:bold;
    margin-right:10px;
}