.doitim-btn{
    text-indent: -9999em;
    position: absolute;
    right: 40px;
    top:12px;
    background: url(chrome-extension://__MSG_@@extension_id__/imgs/icon16.png) no-repeat;
    width:16px;
    height:16px;
    margin:1px 5px 0 0;
    cursor: pointer;
}
.doitim-btn.loading{
    background: url(chrome-extension://__MSG_@@extension_id__/imgs/loading_16.gif) no-repeat;
}
.doitim-action:hover .right{
    right: -2px;
    background: url(chrome-extension://__MSG_@@extension_id__/imgs/icon16.png) no-repeat;
}